-----BEGIN CERTIFICATE-----
MIID9TCCAt2gAwIBAgIUFszpWjq+6IT6AyCUHiD7uViGes0wDQYJKoZIhvcNAQEL
BQAwgYkxCzAJBgNVBAYTAlJVMRIwEAYDVQQIDAlTdGF2cm9wb2wxEjAQBgNVBAcM
CVN0YXZyb3BvbDEQMA4GA1UECgwHQ29tcGFueTENMAsGA1UECwwEVXNlcjEMMAoG
A1UEAwwDZXRjMSMwIQYJKoZIhvcNAQkBFhRzdXBwb3J0QHRlc3Qtc2l0ZS5ydTAe
Fw0yNDA5MjIxNDQ1NDZaFw0zNDA2MjIxNDQ1NDZaMIGJMQswCQYDVQQGEwJSVTES
MBAGA1UECAwJU3RhdnJvcG9sMRIwEAYDVQQHDAlTdGF2cm9wb2wxEDAOBgNVBAoM
B0NvbXBhbnkxDTALBgNVBAsMBFVzZXIxDDAKBgNVBAMMA2V0YzEjMCEGCSqGSIb3
DQEJARYUc3VwcG9ydEB0ZXN0LXNpdGUucnUwggEiMA0GCSqGSIb3DQEBAQUAA4IB
DwAwggEKAoIBAQDIj7qbdCljD0RWpFfLE3627expndn2o7vzufZVhgksoF8JYMUb
UC/VTC+jCajMoJsESx2kKdRRAI92hsCsyVydXBfK3r/hNoAh/5etzxyxRGNoETNL
YDW2aNF8TnQMcgkHNaDWU71fmnr1BHnQvy6fMADZjEHEbNg5+qjKvBQsvFEaT+J8
jJjR/q3qwttRAhm+JIx2Rj/jHtonUKxzWI+mHMBv1qC4ojG31YemjqVcGbax6uqd
ROlvM1FYJxytee0x89P1/ek6QBELErfVcQjVSsxki1ThCefJg7MI2HKER0ulhCGi
HPRqo8m5QXJ1xE1PjbsB5TazefiM+YHew1dzAgMBAAGjUzBRMB0GA1UdDgQWBBSJ
H6crk8quh/5CV62p1XyqajR3yjAfBgNVHSMEGDAWgBSJH6crk8quh/5CV62p1Xyq
ajR3yjAPBgNVHRMBAf8EBTADAQH/MA0GCSqGSIb3DQEBCwUAA4IBAQAf+ExN7PIB
UhxTPyzj6uJCzg9mTkVDRp4q/gktbrCBvwZMvfyZl7DZaq7Y1grqxngnYIzUBR3Z
YDwI33X/tqjUT3Tnq1oU1IDg3uSw1UMG3hSbLfjE9/Uhsq3Vrv3qw+Pk9P52z90U
7BVdnFxUiJhxBjzh2dp8ZC7UZZcBXUNHdGHPCoAyCuvLY35w72ZsCbjY5o9gQX5g
kNmfDwoQYWBn3nVr+L8xmCMjN3iA6yC7XUs7cjfCzP9mS0zpd+G79+l/VTfxbgj5
8SHO/o1J9KDip8t4klTkaVu7mcZ0nLHmDn/vU8TwlyqmCZoC5E6fdotf6paFwIkg
S59HHgq5szTB
-----END CERTIFICATE-----
